@import './variable.scss';
@import './globalMixin.scss';
.category-item {
    display: flex;
    flex-direction: column;
    margin: 0 10em 0 10em;
}

.bottom-shadow-line {
    height: 0.2em;
    background: linear-gradient(90deg, #f5f5f52e 13%, #9e9e9e 58%, #f5f5f55c 84%);
}

.own-category-info {
    @include text-center-alignment;
    width: 47em;
    font-weight: 600;
    h1 {
        font-size: 1.6em;
        font-weight: bold;
    }
    button {
        background-color: $button-color;
        color: $text-color;
        border: none;
        padding: 1em;
        cursor: pointer;
        height: 3em;
        padding: 0 1em;
    }
}

.own-main {
    display: flex;
}

.slideshow-container {
    max-width: 86.5em;
    position: relative;
    margin: auto;
}

.w3-card,
.w3-card-2 {
    box-shadow: none !important;
}

.crumb {
    list-style: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 0.7em;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    @include text-center-alignment;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 0.4em;
    width: 0.4em;
    margin: 0em 0.9em;
    background-color: #00000061;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

.silder-dot {
    display: flex;
    position: absolute;
    left: 37em;
    top: 16em;
}

.home-cart {
    background-color: #80808042;
    padding: 10%;
    position: relative;
    top: 30%;
    left: 20%;
}

.slide-image {
    width: 100%;
    height: 18em;
}

.cart-logo {
    height: 7em;
    position: relative;
    left: 2em;
    height: 5.5em;
}

.cart-image {
    height: 2.2em;
}

.cart a {
    display: flex;
}

.odd-img {
    height: 15em;
    width: 25em;
    position: relative;
    right: 3em;
}

.even-img {
    height: 15em;
    width: 25em;
    position: relative;
    left: 5em;
}

.nav-item {
    left: 1em;
    font-size: 0.9em;
}

.cart-item-text {
    position: relative;
    top: 0.4em;
    font-weight: 500;
}

.item-number {
    left: 0.1em;
}

.w3-panel {
    display: flex;
    justify-content: space-around;
    margin: 0 11em 0 11em;
}

.item {
    left: 0.2em;
}

@media only screen and (max-width: 700px) {
    .w3-container,
    .w3-panel {
        padding: 0px !important;
        margin: $set-zero-value;
    }
    .even-img {
        height: 100%;
        width: 52%;
        position: relative;
        top: 3em;
        left: $set-zero-value;
    }
    .own-category-info p {
        width: 13em;
        font-size: 13px;
        color: $title-color;
    }
    .odd-img {
        height: 100%;
        width: 53%;
        position: relative;
        top: 2em;
        right: $set-zero-value;
    }
    .cart-logo {
        position: relative;
        left: $set-zero-value;
        height: 4.3em;
    }
    .silder-dot {
        display: flex;
        position: absolute;
        left: 9em;
        top: 10em;
    }
    .slide-image {
        width: 100%;
        height: 9em;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .slider-image {
        width: 100%;
    }
}