@import './variable.scss';
@import './globalMixin.scss';
.product-list {
    display: inline-grid;
    background-color: white;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    padding: 1em;
    width: 300em;
}

.active-link {
    background-color: rgb(182, 178, 178);
}

.topnav {
    overflow: hidden;
    background-color: $full-cart-color;
    position: relative;
    width: 100vw;
    bottom: 1em;
    padding: $set-zero-value;
    margin-top: 0em;
    a:active {
        background: red;
        color: pink;
    }
    .myLinks {
        display: block;
    }
    a {
        padding: 0.8em 1.8em;
        text-decoration: none;
        font-size: 1.1em;
        color: grey;
        display: block;
        font-weight: 600;
        @include btn-cursor-prop;
    }
    a:hover {
        color: black;
        background-color: grey;
    }
    .active:hover {
        color: black;
        background-color: grey;
    }
}

.active,
.myLinks a {
    border-bottom: 1px solid #bbb8b8a1;
}

.active-dot {
    background-color: black;
}

.total-cart-cost {
    font-weight: 600;
    padding: 5%;
}

.side-nav {
    @include flex-prop;
    margin: 0 11em 0 12em;
}

.own-footer {
    background-color: $full-cart-color;
    @include flex-prop;
    justify-content: space-between;
}

.fa-trash {
    @include btn-cursor-prop;
}

.footer-text {
    font-size: 11px;
    margin: 1%;
    font-weight: bolder;
    position: relative;
    left: 7%;
}

.btn-prop {
    cursor: pointer;
    margin-top: 4%;
    background-color: $button-color;
    border: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 30%;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}


/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    &:hover,
    &:focus {
        color: #000;
        text-decoration: none;
        @include btn-cursor-prop;
    }
}

.modal-header {
    @include modal-common-prop;
}

.modal-body {
    padding: 2px 16px;
    .body-img {
        box-shadow: 1px 2px 12px 1px #8080802b;
        @include flex-prop;
        span {
            position: relative;
            top: 17px;
            left: 6%;
            margin-bottom: 10%;
        }
    }
    .body-content {
        box-shadow: 1px 2px 12px 1px #8080802b;
        @include flex-prop;
        margin: 2% 0% 5% 0%;
        span {
            flex: 1;
            padding-top: 8%;
        }
        img {
            flex: 1;
        }
        h4 {
            flex: 3;
        }
    }
}

.modal-footer {
    @include modal-common-prop;
    p {
        color: black;
        text-align: center;
    }
}

.modal-header {
    background-color: black;
}

.footer {
    width: 100%;
    background-color: $button-color;
    margin-bottom: 22px;
    span {
        text-align: center;
    }
    button {
        width: 7em;
        padding: 4%;
        background-color: $button-color;
    }
}

.w3-container,
.w3-panel {
    padding: 0.01em 5px !important;
}

.icon-class {
    background-color: $button-color;
    padding: 2%;
    color: white;
}

.modal-footer {
    background-color: white;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
}

.cart-modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    top: 3em;
    left: 30em;
    margin: auto;
    width: 30em;
    height: 30em;
    overflow: auto;
    background-color: white;
}

.empty-content {
    text-align: center;
    margin-top: 8em;
    margin-bottom: 10em;
}

.empty-content p {
    font-weight: bolder;
}

.products {
    box-shadow: 7px 0px 0px 0px #8080800d;
    border-bottom: 3px dotted #80808045;
}

.text-css {
    display: inline-block;
    font-size: 11px;
    font-weight: 500;
    background-color: $full-cart-color;
    margin: 5%;
    height: 8em;
    overflow: hidden;
    text-overflow: clip;
    p {
        width: fit-content;
        height: fit-content;
    }
}

.cart-element {
    @include flex-prop;
    box-shadow: 0px 1px 2px 1px #80808069;
    margin: 1%;
    i {
        cursor: pointer;
    }
}

.items {
    overflow-y: scroll;
    margin: 3%;
    height: 20em;
}

.w3-header {
    color: #fff!important;
    background-color: #000000f5!important;
    height: 4em;
}

.model-content {
    @include flex-prop;
    margin: 6%;
    box-shadow: 1px 1px 3px 1px #80808047;
}

.model-content-footer {
    @include flex-prop;
    flex-direction: column;
}

.modal-text {
    font-size: 1em;
    font-weight: bold;
}

.fas {
    position: relative;
    top: 1em;
    right: 2em;
}

.model-content-footer-button {
    @include flex-prop;
    border: none;
    margin: 2%;
    height: 3em;
    background-color: $button-color;
    justify-content: space-between;
    color: white;
    @include btn-cursor-prop;
}

.model-content-footer-button span {
    padding: 2%;
    margin: auto;
}

.modal-footer-span {
    text-align: center;
    font-weight: 600;
    border-top: 1px solid #80808030;
}

.itemQuantity {
    width: 10%;
}

.footer {
    @include flex-prop;
    justify-content: space-between;
    padding-bottom: 4%;
    span {
        font-size: 10px;
        padding-right: 7%;
        margin-top: 9%;
    }
}

.cart-full-content {
    width: 30em!important;
    left: 20%!important;
    height: 40em!important;
}

.empty-modal-content {
    width: 30em !important;
    left: 20% !important;
    height: 30em !important;
}

.w3-card-4 {
    height: 100%;
    box-shadow: none;
    span {
        font-weight: 500;
    }
    p {
        font-weight: 700;
    }
}

.cart-element div {
    margin-left: 7%;
}

.cart-element img {
    margin-left: 3%;
}

.header {
    height: 50%;
}

.w3-card-4 {
    p {
        font-weight: 700;
        font-size: 15px;
        padding: 4%;
        height: 15%;
    }
    box-shadow: none !important;
}

.w3-hover-shadow:hover {
    box-shadow: none !important;
}

.desc {
    padding: 1%;
}

@media only screen and (max-width: 700px) {
    .mySlides {
        position: relative;
        right: 1em;
    }
    .cart-full-content {
        left: 0% !important;
    }
    .empty-modal-content {
        left: 0% !important;
    }
    .text-css {
        @include text-prop;
    }
    .footer {
        @include flex-prop;
        @include footer-prop;
    }
    .side-nav {
        @include flex-prop;
        flex-wrap: wrap;
        margin: 0;
    }
    .base-footer {
        @include flex-prop;
        flex-direction: column;
    }
    .header {
        position: relative;
        img {
            @include image-size-prop;
        }
    }
    .w3-card-4 {
        p {
            font-weight: bolder;
            font-size: 1.5em;
            margin: 2%;
        }
        span {
            @include span-prop;
            padding-left: 0em !important;
        }
    }
    .desc {
        padding: 1%;
    }
    .w3-card-4 {
        @include flex-prop;
        flex-direction: column;
    }
    .base-header {
        @include flex-prop;
        margin-top: 2em;
    }
    .product-list {
        display: inline-grid;
        background-color: white;
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
    }
    .footer {
        background-color: rgb(173, 73, 90);
        padding: 28px;
        margin-bottom: 22px;
    }
    .footer button {
        @include footer-btn;
    }
    .items {
        overflow-y: scroll;
        margin: 3%;
        height: 20em;
    }
    .topnav {
        overflow: hidden;
        background-color: $full-cart-color;
        position: relative;
        width: 100vw;
        bottom: 1em;
        padding: $set-zero-value;
        margin-top: 0em;
        a {
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            display: block;
            font-weight: 400;
            &.icon {
                background: rgb(194, 85, 103);
                display: block;
                position: absolute;
                right: 0;
                top: 0;
            }
            &:hover {
                background-color: #ddd;
                color: black;
            }
        }
        .myLinks {
            display: none;
        }
        .active {
            color: white;
        }
    }
    .active {
        background-color: rgb(194, 74, 94);
        color: black;
    }
    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }
    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}

.total-cost {
    margin: 2%;
    float: right;
}

.body-content {
    margin-top: 40%;
    h1 {
        font-size: 20px;
        position: relative;
        left: 22%;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 10em;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    &:hover,
    &:focus {
        color: #000;
        text-decoration: none;
        @include btn-cursor-prop;
    }
}

#item-header {
    position: relative;
    bottom: 25%;
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
    .empty-content {
        text-align: center;
        margin-top: 8em;
        margin-bottom: 20em;
    }
    .footer-text {
        font-size: 11px;
        margin: 1%;
        font-weight: bolder;
        position: relative;
        left: 0%;
    }
    #item-header {
        position: relative;
        bottom: 0%;
    }
    .side-nav {
        @include flex-prop;
        margin: 0%;
    }
    .cart-full-content {
        width: 30em !important;
        left: 14% !important;
        top: 4%;
        height: 40em !important;
    }
    .empty-modal-content {
        width: 30em !important;
        left: 14% !important;
        top: 4%;
        height: 40em !important;
    }
    .product-list {
        display: inline-grid;
        background-color: white;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
        padding: 10px;
    }
    .myLinks {
        display: block;
    }
    .text-css {
        @include text-prop;
    }
    .footer {
        @include flex-prop;
        @include footer-prop;
    }
    .footer {
        background-color: rgb(173, 73, 90);
        padding: 28px;
        margin-bottom: 22px;
    }
    .footer button {
        @include footer-btn;
    }
    .base-footer {
        @include flex-prop;
        flex-direction: column;
    }
    .header {
        position: relative;
        img {
            @include image-size-prop;
        }
    }
    .w3-card-4 {
        p {
            font-weight: bolder;
            font-size: 1.7em;
            margin-bottom: 1em;
        }
        span {
            @include span-prop;
        }
    }
    .desc {
        padding: 1%;
    }
    .w3-card-4 {
        @include flex-prop;
        flex-direction: column;
    }
    .base-header {
        @include flex-prop;
        margin-top: 2em;
    }
}

@media only screen and (min-width: 1100px) {
    .product-list {
        display: inline-grid;
        background-color: white;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        padding: 10px;
        width: 300em;
    }
    .w3-card-4 p {
        font-size: 13px;
    }
}