@import './variable.scss';
@import './globalMixin.scss';
.container-fluid,
.flex-container {
    @include flex-prop;
}

.login-head-text {
    @include flex-prop;
    flex-direction: column;
    margin-right: 3em;
    .login-heading {
        font-weight: bold;
        font-size: 1.4em;
    }
    .register-heading {
        font-weight: bold;
        font-size: 1.8em;
    }
    .paragraph-text {
        font-size: 13px;
        font-weight: 500;
    }
}

.register-form,
.login-form {
    margin-right: 10em;
}

.register-box {
    .user-box {
        position: relative;
        width: 150%;
        input {
            width: 25em;
            padding: 1em 0;
            font-size: 1em;
            color: black;
            margin-bottom: 2em;
            border: none;
            border-bottom: 1px solid #808080c9;
            outline: none;
            background: transparent;
        }
        label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 0;
            font-size: 12px;
            color: grey;
            pointer-events: none;
            transition: .5s;
        }
        input {
            &:focus~label,
            &:valid~label {
                top: -20px;
                left: 0;
                color: $input-focus-color;
                font-size: 12px;
            }
        }
        .green-border:focus {
            border-bottom: 2px solid $input-focus-color;
            font-weight: bold;
        }
    }
    .btn {
        background-color: #c62456;
        margin-bottom: 2em;
        color: white;
        text-align: center;
        padding: 0.8em 1em;
        font-size: 1em;
        text-decoration: none;
        cursor: pointer;
        width: 25em;
    }
    a {
        &:hover {
            background: $input-focus-color;
            color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 5px $input-focus-color, 0 0 25px $input-focus-color, 0 0 50px $input-focus-color, 0 0 100px $input-focus-color;
        }
    }
}

.login-box {
    h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
    }
    .user-box {
        position: relative;
        width: 150%;
        input {
            width: 100%;
            padding: 10px 0;
            font-size: 16px;
            color: black;
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid #808080c9;
            outline: none;
            background: transparent;
        }
        label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 0;
            font-size: 12px;
            color: grey;
            pointer-events: none;
            transition: .5s;
        }
        input {
            &:focus~label,
            &:valid~label {
                top: -20px;
                left: 0;
                color: $input-focus-color;
                font-size: 12px;
            }
        }
        .green-border:focus {
            border-bottom: 2px solid $input-focus-color;
            font-weight: bold;
        }
    }
    .btn {
        background-color: #c62456;
        margin-bottom: 2em;
        color: white;
        text-align: center;
        padding: 8px 18px;
        font-size: 14px;
        text-decoration: none;
        cursor: pointer;
    }
    a {
        &:hover {
            background: $input-focus-color;
            color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 5px $input-focus-color, 0 0 25px $input-focus-color, 0 0 50px $input-focus-color, 0 0 100px $input-focus-color;
        }
    }
}

.register-cart-prop {
    background-color: #eeeeee;
    padding: 1em;
    position: relative;
    width: 9em;
    top: 20% !important;
}

.register-link-text a {
    color: $nav-item-text-color !important;
}

.signIn-footer {
    background-color: $full-cart-color;
    @include flex-prop;
}

.signIn-text {
    font-size: 11px;
    margin: auto;
    font-weight: bolder;
    padding: 11px;
}

.signIn-card {
    @include flex-prop;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow: none !important;
    margin-top: 3em;
}

.w3-white,
.w3-hover-white:hover {
    background-color: #fff0!important;
}

.sign-container {
    font-size: 20px;
}

.register-text {
    font-size: 15px;
}

.navbar span {
    color: black;
}

@media only screen and (max-width:360px) {
    .login-box {
        position: relative;
        left: 2.5em;
    }
    .register-form {
        position: relative;
        right: 4em;
    }
    .register-form {
        left: 5em;
    }
}

@media only screen and (min-width:370px) and (max-width:540px) {
    .register-form,
    .signIn-card,
    .login-head-text {
        margin: $set-zero-value;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .register-form {
        margin: $set-zero-value;
    }
}