@import './variable.scss';
@import './globalMixin.scss';
* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Segoe UI", Arial, sans-serif !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
}

@mixin navbar-prop {
    background-color: white;
    box-shadow: rgba(128, 128, 128, 0.16) 0px 4px 9px;
    position: static;
    display: flex;
    padding-right: 7em;
}

.main {
    height: 100%;
    width: 100%;
}

.navbar {
    @include navbar-prop;
    padding-left: 10%;
    margin-top: $set-zero-value;
}

.nav-hide-item {
    position: relative;
    bottom: 4%;
    color: #797f8b;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 10px;
}

.first-box {
    flex: 1;
    cursor: pointer;
}

.navbar-img img {
    margin: 3%;
}

.mid-box {
    flex: 5;
}

.home-link-text a {
    position: relative;
    top: 3em;
    left: 12em;
    cursor: pointer;
}

.product-link-text a {
    position: relative;
    top: 3em;
    right: 12em;
    cursor: pointer;
}

.cart {
    background-color: $full-cart-color;
    padding: 1em;
    position: relative;
    width: 9em;
    top: 0.8em;
}

.footer-element {
    font-size: 1em;
    margin: 0 11em;
    font-weight: bolder;
    padding: 1em;
    color: $footer-text-color
}

.footer-layout {
    background-color: $full-cart-color;
    display: flex;
}

.last-box {
    flex: 1;
    cursor: pointer;
    margin-right: 4em;
    padding: 0.4em;
}

.last-box a {
    position: relative;
    padding-left: 8%;
    margin-bottom: -0.5em;
    font-weight: inherit;
    font-weight: 500;
    color: black;
    font-size: 0.9em;
}

a {
    text-decoration: none;
}

.own-main {
    float: right;
    position: relative;
    right: 10%;
}

.own-tabs {
    display: flex;
    justify-content: space-around;
}

.own-cart {
    position: relative;
    top: 47px;
    left: 92px;
}

.own-home {
    position: relative;
    top: 61px;
    right: 10%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.own-head {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1368px) {
    .home-cart {
        background-color: #80808042;
        padding: 5%;
        position: relative;
        top: 4%;
        left: 20%;
    }
}

@media only screen and (max-width: 320px) {
    .cart {
        background-color: #8080801c;
        padding: 4%;
        position: relative;
        top: 7%;
        float: right;
        width: 7em !important;
        height: 5em;
        left: 10em;
    }
    .footer-element {
        margin: $set-zero-value;
        font-size: 0.8em;
    }
}

@media only screen and (min-width:360px) and (max-width:540px) {
    .cart {
        background-color: #8080801c;
        padding: 4%;
        position: relative;
        top: $set-zero-value;
        float: right;
        width: 7em !important;
        height: 5em;
        left: 11em;
    }
    .last-box a {
        top: 1em;
    }
    .navbar {
        padding: $set-zero-value;
        height: 5.4em;
    }
    .footer-element {
        margin: $set-zero-value;
        font-size: 0.9em;
    }
    .register-cart-prop {
        top: 0% !important;
    }
}

@media only screen and (max-width:750px) {
    .navbar {
        @include navbar-prop;
        padding-left: 0%;
    }
    .nav-hide-item {
        display: none;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .navbar {
        padding-right: 3em;
        margin-top: $set-zero-value;
        padding-left: $set-zero-value;
    }
    .cart {
        left: 6.5em;
        width: 10em;
        padding: 0.5em;
        height: 4em;
        top: 7%;
    }
    .nav-sign-item {
        top: $set-zero-value !important;
        left: 8em;
    }
    .nav-register-item {
        top: $set-zero-value !important;
        left: 8em;
    }
    .cart-logo {
        left: $set-zero-value;
    }
    .home-link-text a {
        left: 8em;
    }
    .product-link-text a {
        right: 2em;
    }
    .w3-panel {
        margin: $set-zero-value;
    }
    .login-form,
    .login-head-text {
        margin-right: $set-zero-value;
    }
    .register-cart-prop {
        top: 12% !important;
    }
}