* {
    box-sizing: border-box;
  }
  html, body {
    font-family: "Segoe UI",Arial,sans-serif !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
  }
  @mixin navbar-prop {
    background-color: white;
    box-shadow: rgba(128, 128, 128, 0.38) 0px 11px 21px;
    position: static;
    margin-bottom: 10px;
    display: flex;
    padding-right: 10%;
  }
  .main {
    height: 100%;
    width: 100%;
  }
  .navbar {
    @include navbar-prop;
    padding-left: 10%;
  }

  .navbar span {
    position: relative;
    bottom: 4%;
    color: #4f4d4deb;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 10px;
  }
  .first-box {
    flex: 1;
  }
  .navbar-img img {
     margin: 3%;
  }
  .mid-box {
    flex: 5;
  }
  .mid-box a {
    position: relative;
    top: 72px;
    padding-left: 10%;
  }
  .cart {
    background-color: #80808029;
    padding: 3%;
    position: relative;
    top: 33%;
    left: 8%;
  }
  .last-box {
    flex: 1;
  }
  .last-box a {
    position: relative;
    padding-left: 9%;
    top: 5%;
  }
  a {
    text-decoration: none;
  }
  .own-main {
    float: right;
    position: relative;
    right: 10%;
  }
  .own-tabs {
    display: flex;
    justify-content: space-around;
  }
  .own-cart {
    position: relative;
    top: 47px;
    left: 92px;
  }
  .own-home {
    position: relative;
    top: 61px;
    right: 10%;
  }
  @media only screen and (max-width: 1200px) {
    .cart {
      background-color: #8080801c;
      padding: 4%;
      position: relative;
      top: 34%;
      left: 3em;
      width: 10em;
    }
    .mid-box {
      flex: 5;
      position: relative;
      bottom: 22px;
    }
  
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  @media only screen and (max-width: 1368px) {
    .home-cart {
      background-color: #80808042;
      padding: 5%;
      position: relative;
      top: 4%;
      left: 20%;
    }
  }
  .own-head {
    display: flex;
    flex-wrap: wrap;
  }
  @media only screen and (min-width:750px) and (max-width: 1024px) {
    .navbar {
      @include navbar-prop;
      padding-left: 0%;
    }
  }
  @media only screen and (max-width:750px) {
    .navbar {
      @include navbar-prop;
      padding-left: 0%;
    }
    .nav-hide-item {
      display: none;
    }
  }
  