$button-color: #c62456;
$text-color: white;
$title-color: #2d4498;
$nav-item-text-color: #757879;
$footer-text-color: #494750;
$full-cart-color: #eeeeee;
$input-focus-color: #63b8bd;
$set-zero-value: 0em;