<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Shopping Cart</title>
</head>

<body onresize="resizeCartWindow()">
    <main>
        <heading>
            <div class="navbar">
                <div class="first-box">
                    <a class="navbar-" href="#">
                        <img src="../static/images/logo.png" width="100" height="100" alt="cart logo">
                    </a>
                </div>
                <div class="mid-box">
                    <a href="./main.html">
                        <span class="navbar-brand mb-0 h1 nav-hide-item">Home</span>
                    </a>
                    <a href="./products.html">
                        <span class="navbar-brand mb-0 h1 nav-hide-item">Products</span>
                    </a>
                </div>
                <div class="last-box">
                    <a href="./signIn.html">
                        <span class="navbar-brand mb-0 h1 nav-hide-item">SignIn</span>
                    </a>
                    <a href="./register.html">
                        <span class="navbar-brand mb-0 h1 nav-hide-item">Register</span>
                    </a>
                    <div class="cart">
                        <a href="./cart.html">
                            <img src="../static/images/cart.svg" width="30" height="30" alt="cart logo"><span id="items">Items</span>
                        </a>
                    </div>
                </div>
            </div>
        </heading>

        <section>
            <div id="mobile-cart-container">

                <div class="w3-card-4 card-1">
                    <header class="cart-w3-container cart-card-title">
                        <h5 class="cart-item-header"></h5>
                    </header>

                    <div class="cart-w3-container cart-data-list">
                        <div class="w3-container items">
                        </div>
                    </div>
                    <div class="model-content">
                        <div class="model-content-ad-left">
                            <img src="../static/images/lowest-price.png" alt="lowest price">
                        </div>
                        <div>
                            <p class="cart-right-text">You won't find it cheaper anywhere</p>
                        </div>
                    </div>
                    <footer class="cart-w3-container model-content-footer">
                        <span class="modal-footer-span">Promo code can be applied on payment page.</span>
                        <button class="cart-proceed-text" onclick="proceedToBuy()">
                            <span>Proceed to Checkout</span>
                            <span> Rs.187 <i class='fas fa-arrow-right'></i></span>
                    </button>
                    </footer>
                </div>
            </div>
            <div id="cart-empty-container">

                <div class="w3-card-4 card-1">
                    <header class="cart-w3-container cart-card-title">
                        <h5>My Cart</h5>
                    </header>

                    <div class="cart-w3-container cart-mid-title">
                        <p>No items in your cart.</p>
                        <span>Your favorite item are just a click away.</span>
                    </div>
                    <footer class=" cart-footer-text cart-w3-container ">
                        <h5 onclick="startShop()">Start Shopping</h5>
                    </footer>
                </div>
            </div>
        </section>
        <!-- modal -->
        <section>
            <div id="thanksMsg" class="modal cart-modal">
                <div class="modal-content cart-modal-content">
                    <span class="close cart-modal-close" onclick="closeModal()">&times;</span>
                    <img src="../static/thanks.jfif" alt="">
                    <h4>Thankyou for doing shopping with us ,waiting for your next arrival here.</h4>
                </div>
            </div>
        </section>
    </main>
    <script src="../js/common.js"></script>
    <script src="../js/constants.js"></script>
    <script src="../js/cart.js"></script>
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>

</body>

</html>