<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Shopping Cart</title>
</head>

<body>
    <heading>
        <div class="navbar">
            <div class="first-box">
                <a class="navbar-img" href="#">
                    <img src="../static/images/logo.png" width="120" height="80" alt="cart logo">
                </a>
            </div>
            <div class="mid-box">
                <a href="./home.html">
                    <span class="navbar-brand mb-0 h1 nav-hide-item" style="position: relative;bottom: 25%;">Home</span>
                </a>
                <a href="./products.html">
                    <span class="navbar-brand mb-0 h1 nav-hide-item" style="position: relative;bottom: 25%;">Products</span>
                </a>
            </div>
            <div class="last-box">
                <a href="./signIn.html">
                    <span class="navbar-brand mb-0 h1 nav-hide-item">SignIn</span>
                </a>
                <a href="./register.html">
                    <span class="navbar-brand mb-0 h1 nav-hide-item">Register</span>
                </a>
                <div class="cart"> <a href="#">
                        <img src="../static/images/cart.svg" width="30" height="30" alt="cart logo"><span
                            id="items">Items</span>
                    </a>
                </div>
            </div>
        </div>
    </heading>
    <section>
        <div class="slider">
            <div class="slideshow-container">

                <div class="mySlides fade">
                    <img src="../static/images/offers/offer1.jpg" height="30%" width="100%">
                </div>

                <div class="mySlides fade">
                    <img src="../static/images/offers/offer2.jpg" height="30%" width="100%">
                </div>

                <div class="mySlides fade">
                    <img src="../static/images/offers/offer3.jpg" height="30%" width="100%">
                </div>

                <div class="mySlides fade">
                    <img src="../static/images/offers/offer4.jpg" height="30%" width="100%">
                </div>
                <div class="mySlides fade">
                    <img src="../static/images/offers/offer5.jpg" height="30%" width="100%">
                </div>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                <br>
                <div class="gred-shadow "></div>
                <div class="silder-dot">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                    <span class="dot" onclick="currentSlide(5)"></span>
                </div>
                
            </div>

        </div>
    </section>
    <section>
        <div class="w3-container">
            <div id="own-cat">
            </div>
        </div>

    </section>
    <footer class="home-footer">
        <div class="home-footer-text">Copyright &copy; Sabka Bazaar Grocery Supplies Pvt Ltd
        </div>
    </footer>
    <script src="../js/home.js"></script>

</body>

</html>