<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Shopping Cart</title>
</head>

<body>
    <main>
        <header>
            <nav class="navbar">
                <div class="first-box">
                    <a class="navbar-img" href="#">
                        <img src="../static/images/logo.png" width="120" height="80" alt="cart logo">
                    </a>
                </div>
                <div class="mid-box">
                    <a href="./main.html">
                        <span id="item-header" class="navbar-brand mb-0 h1 nav-hide-item">Home</span>
                    </a>
                    <a href="./products.html">
                        <span id="item-header" class="navbar-brand mb-0 h1 nav-hide-item">Products</span>
                    </a>
                </div>
                <div class="last-box">
                    <a href="./signIn.html">
                        <span class="navbar-brand mb-0 h1 nav-hide-item">SignIn</span>
                    </a>
                    <a href="./register.html">
                        <span class="navbar-brand mb-0 h1 nav-hide-item">Register</span>
                    </a>
                    <div class="cart">
                        <a href="#">
                            <img src="../static/images/cart.svg" width="30" height="30" alt="cart logo"><span id="items">Items</span>
                        </a>
                    </div>
                </div>
            </nav>
        </header>
        <section>
            <div class="w3-container sign-container">
                <div class="w3-panel w3-card w3-white signIn-card">
                    <div class="own-text">
                        <h1>Login</h1>
                        <p>Get Access to your Orders, Wishlist and recommendations</p>
                    </div>
                    <div class="login-box">
                        <form>
                            <div class="user-box">
                                <input type="email" name="email" required="">
                                <label>Email</label>
                            </div>
                            <div class="user-box">
                                <input type="password" name="password" required="">
                                <label>Password</label>
                            </div>
                            <div class="user-box btn" onclick="registerUser()">
                                Login
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="signIn-footer">
        <div class="signIn-text">Copyright &copy; Sabka Bazaar Grocery Supplies Pvt Ltd
        </div>
    </footer>
    <script src="../js/signIn.js"></script>
</body>

</html>