<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Shopping Cart</title>
</head>

<body>
    <header>
        <nav>
            <ul class="navbar">
                <li class="crumb first-box">
                    <a class="navbar-img" href="#">
                        <img class="cart-logo" src="../static/images/logo.png" alt="cart logo">
                    </a>
                </li>
                <li class="crumb mid-box navbar-brand mb-0 h1 nav-hide-item home-link-text">
                    <a href="./main.html">Home</a>
                </li>
                <li class="crumb mid-box navbar-brand mb-0 h1 nav-hide-item product-link-text">
                    <a href="./products.html">Products </a>
                </li>
                <li class="crumb last-box navbar-brand mb-0 h1">
                    <a class="nav-item nav-sign-item  nav-hide-item " href="./signIn.html">SignIn</a>
                    <a class="nav-item nav-register-item  nav-hide-item" href="./register.html">Register
                        </a>
                    <div class="cart">
                        <a href="#">
                            <img class="cart-image" src="../static/images/cart.svg" alt="cart logo"><span class="cart-item-text item-number"></span> <span class="cart-item-text item">Items</span>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <section class="w3-container sign-container w3-panel w3-card w3-white signIn-card">
        <div class="login-head-text">
            <h1 class="login-heading">Login</h1>
            <p>Get Access to your Orders, Wishlist and recommendations</p>
        </div>
        <div class=" login-form login-box">
            <form>
                <div class="user-box">
                    <input class="green-border" type="email" name="email" required="">
                    <label>Email</label>
                </div>
                <div class="user-box">
                    <input class="green-border" type="password" name="password" required="">
                    <label>Password</label>
                </div>
                <div class="user-box btn" onclick="registerUser()">
                    Login
                </div>
            </form>
        </div>
    </section>
    <footer class="footer-layout">
        <div class="footer-element">Copyright &copy; 2011-2018 Sabka Bazaar Grocery Supplies Pvt Ltd
        </div>
    </footer>
    <script src="../js/constants.js "></script>
    <script src="../js/signIn.js"></script>

</body>

</html>